html {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.profile-photo {
  border-radius: 50%;
  width: 80px;
  height: auto;
}

.wrapper .content {
  width: calc(100% - 90px);
  padding-left: 10px;
}

@media (max-width: 520px) {
  .profile-photo {
    width: 30px;
    height: auto;
  }
}
